
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@TempData["InvalidPass"]
@TempData["InvalidEmail"]


<form action="Login" method="post">
    Email: <input type="text" name="Email" />
    Password: <input type="text" name="Password" />

    <input type="submit" value="Login" />
</form>